.menu-cabecera {
    display: table;
    margin: 0 auto;
    text-align: center;
}

ul {
    padding: 0;
}

.menu-cabecera ul {
    list-style: none;
}

header,
footer {
    padding-left: 20%;
    padding-right: 20%;
}

header p {
    margin-bottom: 0;
}

header a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
}

header a:hover {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

#contenido {
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(219, 219, 219);
    padding-top: 20px;
    padding-bottom: 40px;
}

#contenido-enlaces {
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    background-color: rgb(219, 219, 219);
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
}

#contenido img {
    width: 100%;
}

#contenido h1 {
    text-align: center;
    font-size: 60px;
}

li {
    display: inline;
    padding-right: 2%;
}

p,
a {
    font-family: 'Raleway', sans-serif;
    font-display: swap;
}

#imagen-portada {
    width: 100%;
    height: auto;
}

#coliseo {
    font-size: 25px;
}

.bloque {
    display: grid;
    grid-template-columns: 33% 66%;
    margin-bottom: 60px;
    background-color: white;
}

.bloque img {
    max-width: 100%;
    height: auto;
    padding: 15px;
}

.texto {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: white;
}

.texto h3 {
    margin-bottom: 0;
    font-family: 'Raleway', sans-serif;
    font-display: swap;
}

.texto p {
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    font-display: swap;
}

.video {
    margin-left: 15%;
    margin-right: 15%;
}

figure {
    margin-top: 30px;
    margin-bottom: 30px;
}

iframe {
    width: 100%;
    height: 315px;
    text-align: center;
}

#bloques {
    display: grid;
    grid-template-columns: 50% 50%;
}

.negrita {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
}

footer {
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 10px;
}

footer a:hover {
    color: rgb(170, 146, 136);
    text-decoration: none;
}

#contenido li p {
    display: list-item;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2%;
}

#contenido p {
    line-height: 25px;
}

header div {
    display: inline;
}

#horario {
    display: grid;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 8px;
    font-display: swap;
}

#enlaces-detalles {
    padding-top: 20px;
}

.logo {
    background: radial-gradient(circle at 33% 100%,
            #d1dace 4%,
            #969b96 30%,
            #686c68 62%,
            #222322 85%,
            #282727);
    width: fit-content;
    color: white;
    font-size: 3rem;
    font-family: 'Shadows Into Light', cursive;
    border-radius: 20%;
    text-shadow: 2px 4px 1px rgb(15, 103, 16);
    font-weight: bold;
    font-display: swap;
}

#pie {
    display: grid;
    grid-template-columns: 30% 70%;
}

#lista-pie {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
    margin-top: 2%;
}

#logo-pie {
    margin-left: 20%;
    margin-right: 20%;
}

#lista-categoria li {
    display: list-item;
    text-decoration: none;
    list-style-type: none;
}

.bevel {
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.out {
    background-image: linear-gradient(to bottom right, #3cff53, #22ac3b, #076218);
    flex-shrink: 0;
    margin: 25px;
    display: flex;
    height: calc(30rem);
    width: calc(100%);
}

.in {
    background: url(../images/Roma3.webp) no-repeat center;
    background-size: cover;
    height: calc(90%);
    width: calc(90%);
    margin: auto;
}

.circle {
    animation: 2s circle alternate infinite;
}

@keyframes circle {
    from {
        -webkit-clip-path: circle(0%);
        clip-path: circle(0%);
    }

    to {
        -webkit-clip-path: circle(120px);
        clip-path: circle(120px);
    }
}

#imagen-animada {
    width: 100%;
    height: 250px;
}

#titulo {
    text-align: center;
}

#titulo {
    font-family: 'Shadows Into Light';
    font-display: swap;
}

#titulo p {
    font-family: 'Shadows Into Light';
    font-size: 2rem;
    line-height: 2rem;
    font-display: swap;
}

#animacion-svg {
    text-align: center;
}

#Layer_1 {
    width: 50%;
    height: auto;
}

.coliseo {
    animation: slide 8s infinite;
}

@keyframes slide {
    from {
        transform: translateY(-70px);
    }

    50% {
        transform: translateY(60px);
    }

    to {
        transform: translateY(-70px);
    }
}

#primera-linea-cabecera {
    display: grid;
    grid-template-columns: 40% 60%;
}

#primera-linea-cabecera :nth-child(2) {
    padding-top: 3rem;
}

.zona-imagenes-detalle {
    display: grid;
    grid-template-columns: 50% 50%;
}

@media (max-width: 1200px) {

    .bloque {
        display: block;
        padding: 4%;
    }

    .bloque img {
        padding: 0;
    }

    .zona-imagenes-detalle {
        display: block;
    }
}

@media (max-width: 800px) {

    header,
    #header-inicio,
    #contenido,
    #contenido-inicio,
    footer {
        padding-left: 6%;
        padding-right: 6%;
    }

    header,
    #header-inicio,
    #horario {
        padding-left: 0%;
        padding-right: 0%;
        text-align: center;
    }

    header li {
        display: list-item;
        text-decoration: none;
    }

    .menu-cabecera {
        display: table;
        margin: 0 auto;
    }

    .menu-cabecera ul {
        list-style: none;
    }

    footer,
    #enlaces-detalles {
        text-align: center;
    }

    #enlaces-detalles li {
        display: list-item;
        list-style: none;
    }

    .bloque {
        display: block;
        padding: 4%;
    }

    .bloque img {
        padding: 0;
    }

    #pie {
        grid-template-columns: none;
    }

    #lista-pie {
        grid-template-columns: none;
    }
}

@media (max-width: 400px) {
    #contenido h1 {
        font-size: 35px;
    }

    #primera-linea-cabecera {
        grid-template-columns: none;
    }


}